/* Landing page */
a {
  color: black;
}

a:hover {
  color: black;
}

body {
  font-family: "Roboto Slab", serif;
}

footer {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

footer a {
  border-bottom: dashed 1px;
  text-decoration: none;
}

footer a:hover {
  border-bottom: none;
  color: #6c63ff;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

p {
  align-items: center;
  display: flex;
  font-size: 1.75rem;
}

span {
  font-size: 0.9rem;
  font-weight: 700;
  margin-left: 0.25rem;
}

.btn-primary {
  background-color: #6c63ff;
  border-color: #6c63ff;
}

.btn-primary:hover {
  background-color: #5b52ff;
  border-color: #5b52ff;
}

.btn-primary:focus {
  color: #fff;
  background-color: #5b52ff;
  border-color: #5b52ff;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}
.margen-abajo {
  margin-bottom: 2rem;
}

@media (max-width: 991px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.5rem;
  }
}

/* App */
/* Pomodoro */
#pomodoro div#boton {
  display: flex;
  justify-content: center;
}

#pomodoro div#temporizador {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

#pomodoro div#cant {
  font-size: 0.9rem;
  text-align: center;
}

#pomodoro span {
  margin-left: 0;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

#pomodoro span#pomodoro-span {
  text-align: right;
}

#pomodoro span#largo-span {
  text-align: left;
}

.margen-abajo-pomodoro {
  margin-bottom: 0.75rem;
}

.señalar-temporizador {
  color: #6c63ff;
  text-decoration: underline;
}

@media (max-width: 575px) {
  #pomodoro span#pomodoro-span,
  #pomodoro span#largo-span {
    text-align: center;
  }

  #pomodoro span#largo-span {
    margin-top: 0.5rem;
  }
}

/* App */
/* To-Do */
li {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

#tarea {
  margin-right: 1rem;
  width: 15rem;
}

#añadir-tareas {
  display: flex;
  justify-content: center;
}

.tarea-terminada {
  text-decoration: line-through;
}

.form-check-input:checked {
  background-color: #6c63ff;
  border-color: #6c63ff;
}

/* App */
/* Ajustes */
#ajustes {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  width: 30rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  margin-left: -15rem;
}

#ajustes div.boton-p {
  display: flex;
  justify-content: center;
}

#ajustes button {
  text-align: center;
}

#ajustes h4 {
  font-weight: 700;
}

#ajustes #ajuste-pomodoro,
#ajustes #ajuste-corto,
#ajustes #ajuste-largo {
  width: 5rem;
}

#ajustes .form-switch {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

#ajustes #auto-descansos {
  margin-left: 1rem;
}

#ajustes #auto-pomodoro {
  margin-left: 0.6rem;
}

@media (max-width: 575px) {
  #ajustes {
    width: 22rem;
    position: absolute;
    left: 50%;
    margin-left: -11rem;
  }
}

/* Cerrar Ajustes */
.cerrar {
  visibility: hidden;
}

/* Abrir ajustes */
.abrir {
  visibility: visible;
}
